@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
.btnn-1 {
  color: #ffffff;
  background-color: #e20905;
  padding: 12px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  opacity: 0.9;
  border-radius: 9px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btnn-1:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  background-color: #ac0503;
}
.btnn-2 {
  color: #ffffff;
  background-color: #e20905;
  padding: 17px 17px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  opacity: 0.9;
  border-radius: 9px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btnn-2:hover {
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  background-color: #ac0503;
}

.btnn-2-1 {
  color: #ac0503;
  background-color: #d6b6b5;
  padding: 15px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  opacity: 0.9;
  border-radius: 9px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  transition: transform 0.3s ease;
}

.btnn-2-1:hover {
  background-color: #d6b6b5;
  color: #ac0503;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}
.hero {
  margin-top: 10%;
}
.hero-text-1 {
  font-family: "Roboto", sans-serif;
  font-size: 37px;
  letter-spacing: 1px;
}
.hero-text {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  color: rgb(85, 85, 85);
}
